# Ignore node_modules folders globally
node_modules/

# Ignore environment files
.env

# Ignore build outputs
build/
dist/

# Ignore logs
*.log
npm-debug.log*

# Ignore system files
.DS_Store
Thumbs.db
