/* .profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-form {
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #333;
}

.name-fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group input {
  font-family: inherit;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}

.title-dropdown {
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 60px;
  text-align: center;
  padding: 4px;
  margin-bottom: 8px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 6px;
  appearance: none;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox-group input[type="checkbox"] {
  position: relative;
  top: -1px;
}

.other-role {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  top: 3px;
}

.other-role-input {
  width: 150px;
  max-width: 150px;
  margin-top: -10px;
  flex-grow: 0;
}

@media (min-width: 768px) {
  .profile-form {
    max-width: 600px;
    padding: 30px;
  }

  .name-fields {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
  }

  .name-fields label {
    padding-left: 3px;
  }

  .title-dropdown {
    font-family: inherit;
    font-size: 16px;
    letter-spacing: normal;
    width: 60px;
    text-align: center;
    padding: 8px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 6px;
    appearance: none;
    margin-bottom: 0;
  }

  .title-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -14px;
    width: auto;
    justify-content: center;
  }

  .input-group input {
    font-family: inherit;
    font-size: 16px;
    letter-spacing: normal;
    height: 36px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .card {
    background: rgba(255, 255, 255, 0.2);
  }
} */
